body,html {
  font-size: 16px;
  margin: 0;
}
#wrapper { margin: 0 auto; }

a, a:hover { color: inherit; text-decoration: none; }
p a { text-decoration: underline; }
ul,ol { list-style: none; margin: 0; padding: 0; }

img,input { max-width: 100%; }

nav {
  background: var(--header-bg);
  img { display: block; }
  i { height: auto; line-height: inherit; }
  ul.right > li > a { text-transform: uppercase; }
  ul li {
    position: relative;
    &:hover .dropdown-content {
      background: var(--header-bg);
      display: block;
      position: absolute;
      right: 0;
      opacity: 1;
      top: 100%;
      z-index: 10;
      a { white-space: nowrap; }
    }
  }
}

.flexy {
  display: flex;
  align-items: center;
  &.space-between { justify-content: space-between; }
}