{% load compress %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="{% block meta-author %}chriscauley{% endblock %}">
    <meta name="application-name" content="">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/_materialize.css" />
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/base.less" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}unrest/.dist/unrest-built.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}unrest/.dist/token-built.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}unrest_comments/.dist/unrest_comments.css" />
    {% endcompress %}

    <!--[if IE 7]>
      <link rel="stylesheet" type="text/css" href="/static/design/ie7.css"/>
    <![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" type="text/css" href="/static/design/ie8.css"/>
    <![endif]-->

    {% block extrahead %}{% endblock %}
    {% block extra-head %}{# compromise =D #}{% endblock %}
  </head>

  <body>
    <div id="wrapper">
      <header>
        {% block nav %}{% include "_nav.html" %}{% endblock %}
      </header>
      <div id="wrapper">
        <div class="container">
          {% block messages %}{% include "_messages.html" %}{% endblock %}
        </div>
        {% block content_outer %}
        <div id="content" class="container">
          {% block content %}{% endblock %}
        </div>
        {% endblock %}
      </div>
      <footer id="footer">{% block footer %}{% include "_footer.html" %}{% endblock %}</footer>
      <div id="alert-div"></div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/riot/2.5/riot+compiler.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  {% compress js %}
  <script src="{{ STATIC_URL }}js/zepto.js"></script>
  <script src="{{ STATIC_URL }}js/zepto-extras.js"></script>
  <script src="{{ STATIC_URL }}js/data.js"></script>
  <script>window.jQuery = $;</script>
  <script src="{{ STATIC_URL }}unrest/.dist/unrest-built.js"></script>
  <script src="{{ STATIC_URL }}unrest/.dist/token-built.js"></script>
  <script src="{{ STATIC_URL }}tags/board.tag" type="riot/tag"></script>
  <script src="{{ STATIC_URL }}js/init.js"></script>
  <script src="{{ STATIC_URL }}unrest_comments/.dist/unrest_comments.js"></script>
  {% endcompress %}
</script>
{% csrf_token %}
</html>
